/* PhotographerPage.css */
.photographer-image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.photographer-image-card {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
}

.photographer-image-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.photographer-image-card:hover {
    transform: scale(1.05);
}

.photographer-image-card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    font-size: 14px;
}