


.App{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.navbar{
  background-color: #C09FDE;
}

.navbar-nav .nav-item .nav-link:hover{
  color: black;
  background-color: #c14cc9;
}
