/* App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  font-weight: bold;
  padding: 10px;
  margin-top: auto;
  text-align: center;
}


/* Definišite stilove za svetli mod */
.light-mode {
  background-color: white;
  color: black;
  min-height: 100vh;
}

/* Definišite stilove za tamni mod */
.dark-mode {
  background-color: rgb(38, 31, 31);
  color: white;
  min-height: 100vh;
}


/* Stilizujte dugme za promenu moda */
.dark-mode-button {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: auto;
  font-size: 16px;
  width: 200px;
}



.App{
  text-align: center; /*Centrira tekst unutar App komponente*/
  min-height: 100vh; /* Postavljamo minimalnu visinu na 100% visine vidljivog dela prozora*/
  display: flex;
  flex-direction: column;
}


.navbar{
  background-color: #C09FDE; /*menjamo boju NavBara u istu boju kao i u projktu u figmi*/

}

.navbar-nav .nav-item .nav-link{ 
  text-decoration: underline;

}

.navbar-nav .nav-item .nav-link:hover{ /*kada se prolazi mišem preko linka*/
  color: white; /*tekst bele boje*/
  background-color: #c14cc9; /*pozadinska boja linka*/

}